/* @media (max-width: 1400px) {
    .download-content {
        bottom: 16%;
        left: 48%;
    }

    .download-content a {
        width: 140px;
    }

} */



@media (max-width: 1250px) {
    .hero-content {
        width: 60%;
        margin-top: 40px;
    }




    /* .download-content {
        left: 46%;
    } */


}





@media (max-width: 1050px) {

    .hero-carousel {
        width: 100%;
        height: 500px;
        padding-top: 80px;
    }

    .hero-slide {
        background-position: left;
    }

    .hero-content {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .hero-btn-container {
        justify-content: center;
    }


    .hero-fixed-card {
        padding: 10px 20px;
        gap: 20px;
    }





    .premium-grid {
        grid-template-columns: 1fr 1fr;
    }

    .image-wrapper {
        height: 240px;
    }



    /* .download-content a {
        width: 120px;
    }

    .download-content img {
        width: 100%;
    } */


}








@media (max-width: 992px) {
    .plan-card.featured {
        transform: scale(1);
        margin: 20px 0;
    }

    .plan-card.featured:hover {
        transform: translateY(-10px);
    }




    /* .download-content {
        bottom: 16%;
        left: 46%;
    }

    .download-content a {
        width: 100px;
    } */



    .download-section-2 {
        gap: 0px;
        width: 100%;
    }

    .download-right h1 {
        font-size: 24px;
        margin-bottom: 4px;
    }

    .download-right h2 {
        line-height: 1.2;
    }

    .download-right p {
        font-size: 18px;
        margin-top: 6px;
        margin-bottom: 20px;
    }

    .download-right-apps a {
        width: 120px;
    }


    .near-container {
        background: #ffffff;
    }

    .near-left {
        width: 48%;
    }

    .near-right {
        width: 48%;
    }





    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }



}









@media (max-width: 768px) {

    .button-container {
        width: 40px;
        height: 40px;
    }

    .icon {
        font-size: 18px;
    }

    .whatsapp-container .icon {
        font-size: 20px;
    }

    .app-container {
        padding-left: 5px;
    }

    .button-container:hover {
        width: 120px;
    }

    .whatsapp-container:hover {
        width: 160px;
    }

    .app-container:hover {
        width: 180px;
    }


    /* 
    .fixed-on-screen {
        top: auto;
        bottom: 20px;
        right: 20px;
        transform: none;
        gap: 12px;
    }

    .email-container {
        display: none;
    }

    .button-container {
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 50%;
        justify-content: center;
        transition: all 0.2s ease-in-out;
    }

    .icon {
        font-size: 18px;
        margin-right: 10px;
    }

    .whatsapp-container .icon {
        font-size: 20px;
    }

    .button-container .label {
        display: none;
    }

    .icon {
        margin-right: 0;
    }

    .button-container:hover {
        width: 40px;
        padding-right: 0;
    }

    .whatsapp-container:hover {
        width: 40px;
        background: #3eff85;
        box-shadow: -2px 2px 8px -1px #797979;
        transform: scale(1.1);
    }

    .call-container:hover {
        width: 40px;
        background: #52a6ff;
        box-shadow: -2px 2px 8px -1px #797979;
        transform: scale(1.1);
    } */




    .mobile-nav-toggle {
        display: flex;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
        margin-top: 20px;
    }

    .navmenu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100%;
        background-color: #fff;
        box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.1);
        transition: right 0.4s ease-in-out;
        z-index: 1000;
        padding: 100px 40px;
    }

    .navmenu.open {
        right: 0;
    }

    .navmenu ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .mobile-nav-toggle.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .mobile-nav-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-nav-toggle.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }







    .btn-container {
        flex-direction: column;
        align-items: center;
        width: fit-content;
    }






    .hero-carousel {
        width: 100%;
        height: fit-content;
        padding-top: 80px;
    }

    .hero-content {
        padding-bottom: 30px;
    }

    .hero-content h1 {
        font-size: 34px;
        line-height: 40px;
    }

    .hero-btn-container {
        flex-direction: column;
        align-items: center;
        width: fit-content;
    }

    .btn {
        height: 46px;
    }

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }

    .show-on-mobile {
        position: relative;
        flex-direction: column;
    }

    .show-on-mobile .hero-fixed-card {
        width: 100%;
        justify-content: center;
        padding: 10px 20px;
        gap: 20px;
    }

    .hero-fixed-start .hero-fixed-content {
        padding-right: 48px;
    }

    .hero-fixed-mid .hero-fixed-content {
        padding-right: 24px;
    }







    .expert-flex {
        flex-direction: column;
    }

    .center-col {
        order: 1;
        margin-bottom: 40px;
    }

    .left-side {
        order: 2;
        margin-right: 30px;
    }

    .right-side {
        order: 3;
    }

    .left-side .expert-item {
        text-align: left;
        flex-direction: row-reverse;
    }

    .side-col {
        width: 100%;
        max-width: 500px;
        gap: 20px;
    }








    .step-arrow-box {
        display: none;
    }

    .step-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }








    .testimonial-card {
        min-width: 100%;
    }

    .testimonial-container {
        padding: 0 40px;
    }

    .testimonial-description {
        width: 100%;
    }

    .slider-viewport {
        margin-left: 0px;
    }

    .nav-btn {
        width: 35px;
        height: 35px;
    }





    .faq-grid {
        grid-template-columns: 1fr;
        gap: 0px;
    }






    /* .download-section {
        padding: 20px 0px 10px;
    }

    .download-content {
        bottom: 9%;
        left: 46%;
    }

    .download-content a {
        width: 80px;
    } */








    .near-container {
        flex-direction: column;
        gap: 30px;
    }

    .near-left {
        width: 100%;
        text-align: center;
    }

    .near-right {
        width: 100%;
    }






    .stats-wrapper .section-subtitle {
        width: 100%;
    }






    .footer-main {
        flex-direction: column;
        gap: 10px;
    }



}









@media (max-width: 570px) {

    .section-container {
        width: 94%;
    }

    .navmenu {
        width: 70%;
    }





    .premium-grid {
        grid-template-columns: 1fr;
    }




    .download-section-2 {
        flex-direction: column-reverse;
    }

    .download-left {
        width: 100%;
        max-width: 300px;
    }

    .download-right {
        width: 100%;
        text-align: center;
    }

    .download-right-apps {
        justify-content: center;
        margin-bottom: 20px;
    }





    .left-side {
        margin-right: auto;
    }

    .side-col {
        max-width: 500px;
        gap: 20px;
    }





    .Choose-container {
        grid-template-columns: 1fr;
    }

    .choose-section p {
        width: 94%;
    }

    .choose-card p {
        width: 100%;
    }






    .testimonial-card {
        padding: 20px;
        border-radius: 10px;
    }









    /* .download-content {
        bottom: 10%;
        left: 46%;
    }

    .download-content a {
        width: 60px;
    } */


}






@media (max-width: 500px) {
    .stats-grid {
        grid-template-columns: 1fr;
    }
}






@media (max-width: 400px) {

    .step-container {
        grid-template-columns: 1fr;
    }






    .download-section {
        padding: 20px 0px 20px;
    }

    /* 
    .download-content {
        bottom: 10%;
        left: 40%;
    } */




    .footer-top-bar {
        font-size: 15px;
    }

    .footer-top-bar span {
        margin: 0 4px;
    }



}







@media (max-width: 300px) {

    .download-section {
        padding: 20px 0px 10px;
    }

    /* .download-content {
        bottom: 10%;
        left: 38%;
    }

    .download-content a {
        width: 50px;
        height: 20px;
    } */

}